<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间，为了对sql语句进行隔离，方便管理，mapper开发dao方式，使用namespace有特殊作用  
mapper代理开发时将namespace指定为mapper接口的全限定名  
 -->
<mapper namespace="com.chengxusheji.mapper.ExerciseMapper"> 
<!--在mapper.xml文件中配置很多的sql语句，执行每个sql语句时，封装为MappedStatement对象 
mapper.xml以statement为单位管理sql语句  
 -->
	<!-- 添加活动记录 -->
	<insert id="addExercise" parameterType="exercise">
		insert into t_exercise(exerciseName,exerciseDate,serviceTime,address,personNum,content,teamObj) values 
		(#{exerciseName},#{exerciseDate},#{serviceTime},#{address},#{personNum},#{content},#{teamObj.teamUserName})
	</insert>

	<!-- 按照查询条件分页查询活动记录 -->
	<select id="queryExercise" resultMap="exerciseMap" >
		select t_exercise.* from t_exercise,t_team ${where} and t_exercise.teamObj = t_team.teamUserName limit #{startIndex},#{pageSize}
	</select>
	<resultMap id="exerciseMap" type="exercise">
        <id property="exerciseId" column="exerciseId" />
        <association property="teamObj" column="teamObj" select="com.chengxusheji.mapper.TeamMapper.getTeam" />
    </resultMap>

    <!-- 按照查询条件查询所有活动记录 -->
	<select id="queryExerciseList" resultMap="exerciseMap" >
		select t_exercise.* from t_exercise,t_team ${where} and t_exercise.teamObj = t_team.teamUserName
	</select>

    <!-- 按照查询条件的活动记录数 -->
	<select id="queryExerciseCount" resultType="int">
		select count(*) from t_exercise,t_team ${where} and t_exercise.teamObj = t_team.teamUserName
	</select>

	<!-- 根据主键查询某个活动记录 -->
	<select id="getExercise" parameterType="int" resultMap="exerciseMap">
		select * from t_exercise where t_exercise.exerciseId = #{exerciseId}
	</select>

	<!-- 更新活动记录 -->
	<update id="updateExercise" parameterType="exercise">
		update t_exercise set exerciseName=#{exerciseName},exerciseDate=#{exerciseDate},serviceTime=#{serviceTime},address=#{address},personNum=#{personNum},content=#{content},teamObj=#{teamObj.teamUserName} where exerciseId = #{exerciseId}
	</update>

	<!-- 删除活动记录 -->
	<delete id="deleteExercise" parameterType="int">
		delete from t_exercise where exerciseId=#{exerciseId}
	</delete>

</mapper>
